@import "colours"; // infers the .less extension
/* Reset
------------------------------------------------------------ */
* { margin: 0; padding: 0; }
html {overflow-y: scroll; /*  Ensure that the modal is scroll-able */min-width:800px;}
body {display:block;height:100%;background-color:@white; font-size: 20px; color: @black;font-weight: 300; font-family: 'adelle', Arial, helvetica, sans-serif; margin:0;overflow:auto;-webkit-text-size-adjust: none;-webkit-font-smoothing: antialiased;}
h1 {text-transform:uppercase;font-size:1.5em;text-align:left;color:@pink;font-weight: 100;font-family: 'refrigerator-deluxe', sans-serif;margin:0 40px 0 40px;}
h2 {text-transform:uppercase;font-size:1em;text-align:left;color:@grey;font-weight: 100;font-family: 'refrigerator-deluxe', sans-serif;margin:0 40px 0 40px;}

p {letter-spacing:0.5px; margin:0 40px 0 40px;font-family: 'adelle';font-size:.9em;line-height:1.4em;text-align:left;padding:20px 0 0 0;}
img { display: block;margin:0; width:100%}

article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}

a {
	color:@blue;
	text-decoration: none;

	&:hover{
		color:darken(@blue, 20%);
		text-decoration:underline;
	}
}
.back-holder {
	position: absolute;
	height: 100%;
	left: 40px;
	cursor:pointer;

	.back-icon{
	 	height:14px;
		width:8px;
		fill: @white;
		
		display:inline-block;
		vertical-align: middle;
	}

	h1{
		margin:0 0 0 10px;
		color:@white;
		display:inline-block;
		vertical-align: middle;
	}
	&:hover{
		a{
			text-decoration: none;	
		}
		.homeUrl{
			h1{
				color:@yellow;
			}
			.back-icon{
				fill: @yellow;
			}
		}
	}
}
.logoHolder {
	position: absolute;
	height: 100%;
	right: 0;
	left: 0;

		.logo{
	 	height:28px;
		width:247.1px;
		fill: @white;
		cursor:pointer;

		-webkit-filter: drop-shadow( 2px 2px 0px darken(@pink, 8%));
		-moz-filter: drop-shadow( 2px 2px 0px darken(@pink, 8%));
	            filter: drop-shadow( 2px 2px 0px darken(@pink, 8%));

		&:hover{
			fill: @yellow;
		}
	}
}
.icon {
	height:34px;
	width:34px;
	fill: @white;
	cursor:pointer;

	&:hover{
		fill: @blue;
	}
}
button {
	height: 40px;

	border-style: none;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;

	width: auto;
	cursor: pointer;
	background: @blue;
	padding: 0 30px;
	margin-left:40px;

	h1 {
		margin:0;
		font-size:20px;
		color:@white;
	}

	&:hover{
		background: darken(@blue,20%);
	}
}
.addthis_toolbox {
    		float:right;
    		margin:12px 40px 0 0;

    		.social-btn{
				float:left;
				padding:1px;
			}
}

#main {
	margin-top:50px;
	position:relative;
}
.case-studies {
	width:66.66%;
	margin-bottom:40px
}
.floatHolder {
	overflow:auto;


	.doubleImage{
		height:475px;
		overflow:hidden;
	}
}
.singleCol {
	width:33.33%;
	margin-bottom:30px;
	float:left;
	overflow:hidden;
}
.about-me {
	height:405px;
	overflow:auto;
	float:none;
	overflow-y:auto;
	overflow-x:hidden;
}
.sectionHolder {
	background:@backgroundColor;
	z-index:-1;
}
.header {
	z-index:99;
	position:fixed;
	top:0;
	left:0;
	overflow:hidden;
	height:50px;
	width:100%;
	min-width:800px;
	background:@pink;

    .headerInner{
    	position:relative;
    	margin:auto;
    	max-width:1600px;
    	width:100%;
    	height:inherit;

    	.homeUrl{
			display:inline-block;
			vertical-align: middle;
    	}
		.socialListShrink{
			top:24px;
		}
	}
}
.socialLinks {
	position:absolute;
	height:100%;
	right:40px;
	list-style:none;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;

    li {
	    position:relative;
		cursor:pointer;
		margin:0 5px;
	    display:inline-block;
	    vertical-align:middle;
	    .svgLink;

		h1{
	    	font-size:1em;
	    	line-height: 50px;
	    	color:@white;
	    	padding:0;
	    }
	}  
}  
.headerShrink {
	height:50px;
	background:@transparentWhite;
}
.hero-holder {
	.hero-logo{
		background-image: url("../img/hero-logo.png");
		background-position: center;
		height: 250px;
		margin: auto;
		background-repeat: no-repeat;
		background-color: transparent;
		position: absolute;
		width:100%;
	}

	.hero-image {
		height:250px;
		background:@white;
		background-image: url("../img/hero-image.jpg");
		background-position:center;
		margin:auto;
	}	
}
.tileSection {
		position:relative;
		padding:40px 0;
		margin:0 auto;
		max-width:1200px;
	    transition: all 0.4s;
	    font-family: 'refrigerator-deluxe';

	    .doubleCol{
    		margin:0;
    		float:left;
    		width:66.666%
	    }
	    .skillCol{
	    	margin-top: 22px;
	    	margin-bottom: 0;
	    	width:28.66%;
	    	float:right;
	    	// padding: 10px;
	    	padding-right:40px;
			// background: @yellow;
			// border-radius: 4px;
	    	h2{
	    		margin:0;
	    		color:white;
	    		margin-bottom:10px;
	    	}
	    	.skillCloud { 
	    		padding:10px;
	    		background: @transparentPink;
				border-radius: 4px;
	    	}
	    	.skills{
				text-align: center;
				width: auto;
				float: left;
				position: relative;
				padding: 4px 10px;
				background: white;
				color: @pink;
				border-radius: 4px;
				margin: 0 5px 5px 0;
		    }
	    }
	    

		.tiles{
			width:auto;
			margin:auto;
			height:auto;
			display:inline-block;

			.tile{
				overflow:hidden;
				position:relative;
				display:inline-block;
				background:@yellow;
				width:33.333%;
				height:300px;

				img {
					position:absolute;
					height:100%;
					width:auto;
					top:-100%;
					right:-100%;
					bottom:-100%;
					left:-100%;
					margin:auto;
					-webkit-transition: -webkit-all .4s;
					-moz-transition: -moz-all .4s;
					transition: all .4s;
				}

				figure {
					height:auto;
					width:100%;
					top:0;
					left:0;
					cursor:pointer;



					figcaption {
						z-index:2;
						position: absolute;
					    top: 0;
					    left: 0;
					    display:table;
					    height: 100%;
					    width: 100%;
					    opacity: 0;
					    background-color:@transparentPink;
					    text-align: center;

					    -webkit-transform: scale(1.5, 1.5);
						-moz-transform: scale(1.5, 1.5);
						-ms-transform: scale(1.5, 1.5);
						transform: scale(1.5, 1.5);

						-webkit-backface-visibility: hidden;
						-moz-backface-visibility: hidden;
						backface-visibility: hidden;
						-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
						-moz-transition: -moz-transform 0.5s, opacity 0.5s;
						transition: transform 0.5s, opacity 0.5s;

					    span {
					    	display:table-cell;
					    	text-transform: uppercase;
					    	vertical-align: middle;
					    	color:@white;
					    	text-align:center;
					    	margin:auto;
					    	padding:40px;
					    	line-height: 1.2em;
					    	width:80%;
					    	font-size: 2em;
					    	margin-top:110px;
						}
					}
				}
				figure:hover {
					img {
						-webkit-transform: scale(1.2, 1.2);
						-moz-transform: scale(1.2, 1.2);
						-ms-transform: scale(1.2, 1.2);
						transform: scale(1.2, 1.2);
					}
					figcaption {
					    opacity: 1;
						-webkit-transform: scale(1, 1);
						-moz-transform: scale(1, 1);
						-ms-transform: scale(1, 1);
						transform: scale(1, 1);
					}
				}
			}
			.hidden{
				display:none;
			}
			.one-col{
				width:100%;
			}
			.two-col{
				width:50%;
			}
			.three-col{
				width:33.333%;
			}
		}
		.two-col{
			width:66.666%;
		}
		.one-col{
			width:33.333%;
		}
		.three-col{
			width:100%;
		}
}
.skill-copy {
	padding:40px 0 0 0;
}
.tile-holder{
	width:66.66%;
	display:inline-block;

 	.tile {
 		width:50%;
 	}
}
#aboutMe{

	.doubleCol{
		height: 520px;
		overflow:hidden;

		img{
			display: block;
			margin: 0;
			height: 100%;
			float: right;
			margin-right: -1px;
			width:auto;
		}
	}
	.about-me{
		height: 450px;
		overflow: auto;
		float: none;
		overflow-y: auto;
		overflow-x: hidden;
	}
}
.vimeoVid {
	width:100%;
	// height:550px;
	border:0;
	padding:0 0 40px 0;
}
.open-modal {
	overflow:hidden;
}
.modal {
	// margin-top: 50px;
	cursor:pointer;
	min-width:960px;
	display:block;
	position:fixed;
	background:@transparentBlack;
	z-index:999;
	top:0;
	left:0;
	right:0;
	bottom:0;
	overflow-y:auto;
	overflow-x:hidden;
	-webkit-transform:  translateZ(0);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;

	-webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;

    .modal-content{
    	background:@transparentWhite;
    	margin:0 auto;
    	max-width:1140px;
    	width:96%;
    	cursor:default;
    	position: relative;

    	.close{
			margin: 0;
			margin-top: 20px;
			font-size: 2em;
			right: 40px;
			line-height: 9px;
			height: 19px;
			position: absolute;
			cursor: pointer;
			z-index: 1;

			&:hover{
				color:@blue;
			}

    	}

    	.modal-images {
    		padding:0 0 40px 0;
    		margin:0 40px;

    		img {
	    		max-width: 100%;
				width: auto;
				margin: 0 0 20px auto;
	    	}
    	}

    	.doubleCol{
    		float:left;

    	}
	   	.banner-holder {
	   		padding:0 0 40px 0;

	   		.container{
				overflow:hidden;
				float:left;
				// margin:20px;
	   			.banner{
	   				display: inline-block;
					vertical-align: middle;
	   				max-width:90%;
	   				max-height:90%;
	   				cursor:pointer;
	   				img {

		   			}
		   		
	   			}
	   		}
	   		.mpu {
	   			background:@pink;
	   			max-width:790px;
	   			height:591px;
	   			width:66%;
	   			// margin:0 20px 0 0;

	   		}
	   		.leaderboard{
	   			background:@blue;
	   			max-width:66.666%;
	   			height:190px;
	   			width:66%;
	   			margin:20px 0 0 0;
	   		}
	   		.super-sky{
	   			background:@black;
	   			max-width:387px;
	   			height:800px;
	   			width:32%;
	   			float:right;
	   		}
	   	}
    }
}
.hide {
	opacity:0;
	visibility:hidden;
}
.show {
	opacity:1;
	visibility:visible;
}
#footer {
	position:relative;
	overflow:hidden;
	height:200px;
	width:100%;
	margin:auto;
	background:@pink;
	text-align:center;

	.inner-footer{
		display:inline-block;
		vertical-align: middle;

		.socialLinks {
			left:0;
			right:0;
			height: auto;
			width: auto;
			position: inherit;

			li{
				display:inline-block;
			}
		}

		p {
			color:white;
			padding:0;
			text-align:center;
			margin-top:20px;
		}

	}		
}
// >>>>>>>>>>>>>>>> MEDIA QUERIES <<<<<<<<<<<<<<<<<<<

// @media screen and (min-width: 821px) and (max-width: 1280px) {
// 	#homePage {
// 		#heroCarousel {
// 			height:500px;
// 		}
// 	}
// }
// @media screen and (min-width: 821px) and (max-width: 1220px) {
// 	#homePage {
// 		.workSection{
// 			#workTiles {
// 				width:800px;
// 			}
// 		}
// 	}
// }
// @media screen and (max-width: 820px) {
// 	#homePage {
// 		.workSection{
// 			#workTiles {
// 				width:400px;
// 			}
// 		}
// 	}
// }